body { text-align: center; font-family:"14px/1.5 Helvetica,Tahoma,Arial,"Hiragino Sans GB","Microsoft YaHei",SimSun,Heiti,sans-serif;", arial;margin:0; padding:0; background: #FFF; font-size:12px; }
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }
li{list-style-type:none;}
*{margin:0;padding:0;}
img{vertical-align:middle;border:none;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
a{text-decoration: none;}
em{
    font-style: normal;
}
.meizu-header-container{
    position: relative;
  
    width:100%;
    border-bottom: 1px solid #efefef;
   
}
.meizu-header-container .meizu-header{
    font-size:14px;
    position:relative;
}
.meizu-header-container .meizu-header{
    background:#fff;
    
}
.meizu-header-container .meizu-header.toggle ul li:hover{
    color:#00b9f2;
}
.meizu-header-wrap-1240{
    position:relative;
    width:1240px;
    margin:0 auto;
    
}
.meizu-header-wrap-1240::after{
    content: "";
    display:table;
    clear: both;
    height:0;
    visibility: hidden;


}
.meizu-header-cart .iconfont{
       font-size: 25px;
       line-height: 20px;
       color:#333;
}
.meizu-header-wrap-1240 ul{
    float:right;
    overflow: hidden;
}
.meizu-header-wrap-1240 ul li{
    float:left;
    padding:31px 20px 30px;
    font-size:14px;
    cursor: pointer;
    color:#333;
    transition: color .1s linear;

}
.meizu-header-wrap-1240 ul li:hover{
    color:#00b9f2;

}

.meizu-header-cart{
    width:29px;
    height:29px;
    float:right;
    position:relative;
    margin:27px 0 0 15px;
    
}
.meizu-header-cart .num{
    position:absolute;
    top:-5px;
    left:50%;
    border-radius: 50%;
    background:#c00;
    height:15px;
    line-height: 16px;
    text-align: center;
    color:#fff;
    padding:0 5px;
    cursor: pointer;
}
.meizu-header-user{
    float:right;
    position:relative;
    padding-top:25px;
    cursor: pointer;
    padding-bottom:10px;
    

}
.meizu-header-user .hover{
    width:98px;
    position: absolute;
    display:none;
    top:55px;
    left:-34px;
    height:100px;
    z-index: 88;

}
.meizu-header-user:hover .hover{
    display:block;
}

.meizu-header-user .hover .tigger{
    position:absolute;
    width:0;
    height:0;
    border-width:5px; 
    border-color:#fff transparent transparent transparent;
    border-style: solid solid solid solid;
    top:0;
    left:43%;
    transform: rotate(180deg);
}
.meizu-header-user .hover .register{
    position:absolute;
    width:98px;
    box-sizing: border-box;
    padding:15px 0;
    text-align: center;
    background:#fff;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    top:10px;
    left:0;
    border-radius: 2px;
    


}
.meizu-header-user .hover .register ul li{
      font-size: 12px;
      padding:8px 0;
      float:none;
      color:#666;
      width:100%;
}
.meizu-header-user .hover .register ul li:hover{
    color:#00b9f2;
}
.meizu-header-user .hover .register ul{
    width:100%;
}


.meizu-header-search input{
    width:127px;
    height:20px;
    border:none;
    outline: none;
    line-height:20px;

}
.meizu-header-search {
    float:right;
    width:170px;
    height:30px;
    position:relative;
    background:#fff;
    border-radius: 20px;
    border:1px solid #999;
    box-sizing: border-box;
    text-align: center;
    line-height: 24px;
    margin:26px 10px 0 10px;
}
.meizu-header-search .iconfont{
    font-size:20px;
    margin-top:5px;
    color:#666;
}

.meizu-header-logo{
    float:left;
    padding:28px 0;
}
.meizu-header-logo img{
/* width:100%;
height:100%; */
  max-width: 125px;;
}
.meizu-header-user .iconfont{
    font-size:20px;
    color:#333;
    
}
.meizu-header-user{
    float:right;
}
.main{
      position: relative;
      padding-top:66px;
      color:#000;
      
}
.nav{
    position: absolute;
    top:0;
    left:0;
    background: #f6f8fb;
    width:100%;
}
.nav.fixed{
    position:fixed!important;
    top:0;
    left:0;
    border-bottom: 1px solid #dedede;
    opacity: .9;
    z-index:666;
   
}
.main .nav .container{
    position: relative;
    width:1240px;
    height:70px;
    margin:0 auto;
}
.list{
    float:right;
    margin-top:26px;
    overflow: hidden;
}
.list li{
     float:left;
    position: relative;
     border-right:1px solid #dedede;
     padding:0 20px;
     font-size:16px;
     color:#333;
     transition: color .3s;
     cursor: pointer;
    }
    .name{
        position:absolute;
        top:15px;
        left:0;
        font-size:26px;
    }
    .list li:hover{
        color:#00b9f2;
    }
section{
    width:1240px;
    margin:0 auto;
    overflow: hidden;
}
.preview{
    float: left;
    width: 560px;
    margin-right: 40px;
}

.preview-booth{
    margin: 8px 0;
    width: 560px;
    height: 560px;
}
.preview-booth img{
    width:100%;
    height:100%;
}
.preview ul{
    overflow: hidden;
    margin-top: 10px;
    margin-left: 24px;
}
.preview ul li{
    position: relative;
    display: inline-block;
    margin: 0 24px;
    overflow: hidden;
    height: 102px;
}
.preview ul li a{
    display:block;
   
    position: relative;
    overflow: hidden;
    text-align: center
}
.preview ul li a img{
    position: relative;
    max-width: 80px;
    max-height: 80px;
}
.property{
    position: relative;
    float: right;
    width: 640px;
    font-size: 12px;
    padding-top: 25px;
}
.property .property-hd{
    position: relative;
    padding-top: 30px;
    margin-bottom: 12px;
} 
.property .property-hd h1{
    margin-bottom: 4px;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
    color: #262626;
    text-align: left;
}
.property .property-hd .mod-info{
      color: #e22841;
      font-size:14px;
      text-align:left;
}
.titleprice{
    margin-top:20px;
    line-height:40px;
    text-align: left;
    padding-bottom:50px;
    border-bottom:1px dashed #ddd;
}
.titleprice span{
    color: #e02b41;
    font-size:22px;
}
.titleprice span:nth-child(2){
     
    
     font-size: 36px;
    font-weight: 500;
    padding-left:5px;
}
.buy{
   
    font-size:30px;
    padding:10px;
    background: #27b3ff;
    margin-top:300px;
    color:#fff;


}
footer{
    margin-top:100px;
    font-size: 14px;
    color: #515151;
    position: relative;
    background-color: #fff;
}
footer .footerlink{
    padding: 48px 0 20px;
    border-top: 1px solid #f1f1f1;
}
footer .footerlink .footerwarp{
    max-width: 1240px;
    margin: 0 auto;
}
footer .footerlink .footerwarp .meizu-row::after{
    display:table;
    content: "";
    clear: both;
   overflow: hidden;
    height:0;
    
}
footer .footerlink .footerwarp .meizu-row ul{
    width:1000px;
    float:left;
}
footer .footerlink .footerwarp .meizu-row ul li{
    float:left;
    width:15%;
    text-align: center;
}
footer .footerlink .footerwarp .meizu-row ul li a{
    display:block;
    /* overflow: hidden; */
   
    font-size: 12px;
    color: #666;
    width:100%;
}
footer .footerlink .footerwarp .meizu-row ul li img{
    width: 50px;
    display: block;
      margin: 0 auto; 
}
footer .footerlink .footerwarp .meizu-row ul li span{ 
   
    color:#999;
    line-height: 30px;
    display:block;
    
}
.onlive-server{
    margin-top:-18px;
    float:right;
}
.onlive-server span:nth-child(1){
    color: #999;
    font-size: 12px;
    line-height: 30px;
}
.onlive-server p{
    color: #00c3f5;
    font-size: 25px;
    font-weight: 400;
     margin-top: -6px;
    line-height: 40px;
}
.onlive-server .server{
    height: 30px;
    padding: 0 16px;
    overflow: hidden;
    position: relative;
    text-align: center;
    line-height: 30px;
    color: #fff;
    border-radius: 20px;
    margin-top: 3px;
    display: inline-block;
    font-size: 14px;
    background: #0bbbef;
}
footer .footerlink .footerwarp hr{
    height:1px;
    border: none;
    border-top:1px solid #eee;
    margin: 10px auto 28px;
   
}

.meizulast{
    position:relative;
    overflow: hidden;
}
.meizulast .meizu-footer-info-left{
    float:left;
    color: #999;
    font-size: 12px;
}
.meizulast .meizu-footer-info-left ul li{
      float:left;
      padding-right:15px;
      border-right:1px solid #d6d6d6;
      margin-right:15px;
      text-align: left;
      position: relative;

}
.meizulast .meizu-footer-info-left ul{
    overflow: hidden;
    margin-bottom:15px;
}
.meizulast .meizu-footer-info-left ul li i{
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    background-image: url("https://image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAKSCAMAAACN0onrAAAABGdBT…CcGbDsSc2ZK+LvIP5HHgoHkkK4A0mhKqc4b8chzh8kp/8Bjf60NTpOasIAAAAASUVORK5CYII=");
    background-repeat: no-repeat;
    background-size: cover;
}
.meizulast .meizu-footer-info-left ul .s1{
    padding-left:25px;
}
.meizu-footer-certificate{
  text-align: left;
}
.meizu-footer-certificate a{
    margin: 0 3px;
}
.meizu-footer-certificate span:nth-child(1){
    padding-right:15px;
}
.meizu-footer-info-right{
    float:right;
    margin-top:18px;
    

}
.meizu-footer-certificate a{
  color:#999;
}
.meizu-footer-info-right i:nth-child(1){
    background-image: url("https://fms.res.meizu.com/dms/2019/01/07/3b085af8-a47b-453c-b147-a4b352fb3a14.png");
    background-size:96%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 21px;
    height: 18px;
    
}
.meizu-footer-info-right i:nth-child(2){
    background-image: url("https://fms.res.meizu.com/dms/2019/01/07/58e3e041-5543-4414-aaf1-d8e1fd539af6.png");
    background-size:96%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 21px;
    height: 18px;
    
}
.meizu-footer-info-right i:nth-child(3){
    background-image: url("https://fms.res.meizu.com/dms/2019/01/07/52cba4a4-b3a6-4522-9883-d3a918e7d4a9.png");
    background-size:96%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 21px;
    height: 18px;
    
}
.meizu-footer-info-right i:nth-child(4){
    background-image: url("https://fms.res.meizu.com/dms/2019/01/07/bcccf9d2-e0e5-441b-b4a3-f78c12bc3933.png");
    background-size:96%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    width: 21px;
    height: 18px;
    
}
.meizu-footer-info-right i{
    margin-left:15px;
}


